{{> header }}

   {{> navbar }}

    <div class="jumbotron">
        <h1 class="display-4">Madrid - España</h1>
        <hr class="my-4">
        <p>{{ gradosMad }}</p>
    </div>

    <div class="jumbotron">
        <h1 class="display-4">Paris - Francia</h1>
        <hr class="my-4">
        <p>{{ gradosPar }}</p>
    </div>

{{> footer }}
   