{{> header }}

   {{> navbar }}

    <div class="jumbotron">
        <h1 class="display-4">Quito - Ecuador</h1>
        <hr class="my-4">
        <p>{{ gradosQui }}</p> 
    </div>

    <div class="jumbotron">
        <h1 class="display-4">Guayaquil - Ecuador</h1>
        <hr class="my-4">
        <p>{{ gradosGua }}</p>
    </div>

{{> footer }}
   